<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821406280221-ccl3lg282j1mpnb3c6n4q3tdg2nsp60t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821406280221-ccl3lg282j1mpnb3c6n4q3tdg2nsp60t</string>
	<key>API_KEY</key>
	<string>AIzaSyAH7TtVQQY6tPjn4-MqiF3ilaEOCQd_wHw</string>
	<key>GCM_SENDER_ID</key>
	<string>821406280221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sherecalenser.newShereCalender</string>
	<key>PROJECT_ID</key>
	<string>zemiproject-621d3</string>
	<key>STORAGE_BUCKET</key>
	<string>zemiproject-621d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821406280221:ios:1a513e9674f83d1107b4f4</string>
	<key>DATABASE_URL</key>
	<string>https://zemiproject-621d3-default-rtdb.firebaseio.com</string>
</dict>
</plist>